#inputUsername {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#inputNote {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;	
}

#searchHashtag {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;	
}

.list-display-field {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;	
}

.username {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;	
  padding: 5px;

}

.body {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;	
  padding: 5px;
}

.timestamp {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;	
  padding: 5px;
}